@font-face {
    font-family: 'Digital';
    src: url('5x7-matrix.ttf') format('truetype');
  }
  
  body {
    font-family: 'Digital', Courier, sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: red;
    font-variant-numeric: tabular-nums;
  }
  
  #hours-minutes {
    font-size: 15vh;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #seconds {
    font-size: 10vh;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
}
  
  #frames {
    font-size: 5vh;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #seconds-container,
  #hours-container {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-1.5vh, 1.5vh) rotate(-90deg);
  }
  
  .dot {
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
  }
  
  /* Add animation for opacity change */
  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  