@font-face {
    font-family: 'Digital';
    src: url('5x7-matrix.ttf') format('truetype'); 
    /* src: url('mobitec-13-11.ttf') format('truetype'); */
  }
  
  body {
    font-family: 'Digital', Courier, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: red;
    /* font-variant-numeric:proportional-nums; */
  }

  /* #time-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  #hours-minutes {
    font-size: 15vh; /* Adjust according to your preference */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #seconds {
    font-size: 10vh; /* Adjust according to your preference */
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}

  
  #frames {
    font-size: 5vh; /* Adjust according to your preference */
    position: absolute;
    top: 65%; /* Adjusted for better alignment */
    left: 50%;
    transform: translateX(-50%);
    /* text-align: center; */
  }
  
  #seconds-container,
  #hours-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 70vw; */
    /* position:relative;
    vertical-align: middle; */
    
    /* transform: translate(-50%, -50%) rotate(-90deg); */
  }
  
  .dot {
    position: absolute;
    width: 3vh; /* Adjust according to your preference */
    height: 3vh; /* Adjust according to your preference */
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
  }
  
  /* Add animation for opacity change */
  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  